<footer id="footer" class="clearfix">

    <div class="social-wrapper">
        <% if (theme.social) { %>
            <% theme.social.forEach(function(value, key) {
           if (value.url && value.slug) { %>
                <a href="<%= value.url %>" class="social <%= value.slug %>" target="_blank" rel="external">
          <span class="icon icon-<%= value.slug %>"></span>
        </a>
                <% } }); %>
                    <% } %>
    </div>

    <div>Copyright 2019-2024 <a class="codename" href="/">TIGA.FUN</a>. All rights reserved. <a class="codename" target="_bank" href="https://beian.miit.gov.cn">渝ICP备18004897号-3</a> </div>

</footer>